<div class="row">
  <div class="col-auto m-4">
    <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary btn-toollbar" (click)="select()"><i class="fa fa-check-square"></i> {{resource.default.select}}</button>
        <div ngbDropdown class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-toollbar" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <i class="fa fa-remove"></i>{{resource.default.delete}}
          </button>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="width:150px">
            <button class="dropdown-item btn-toollbar" (click)="deleteByIds()">{{resource.default.delete_selected}}</button>
            <button class="dropdown-item btn-toollbar" (click)="deleteByFilter()">{{resource.default.delete_all}}</button>
          </div>
        </div>
        <button type="button" class="btn btn-secondary btn-toollbar"><i class="fa fa-table"></i> {{resource.default.excel}}</button>
      </div>
    </div>
    <ag-grid-angular style="width: 550px; height: 350px;"
      enableRtl="true"
      class="ag-theme-balham"
      suppressSizeToFit="true"
      [rowData]="rowData"
      [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs"
      [rowSelection]="rowSelection"
      [gridOptions]="gridOptions"
      [pagination]="true"
      [paginationAutoPageSize]="true"
      [stopEditingWhenGridLosesFocus]="true"
      [modules]="modules"
      (selectionChanged)="onSelectionChanged($event)"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div class="col-auto">
    <section class="m-4">
      <form class="text-left border border-light p-5" (ngSubmit)="save()" [formGroup]="form">

        <p class="h4 mb-4">{{resource.default.document_form_title}}</p>
        <div class="form-group">
          <label for="txtNo">{{resource.default.document_no}}</label>
          <input type="text" id="txtNo" class="form-control" formControlName="no" placeholder="{{resource.default.document_no_placeholder}}">
        </div>
        <div class="form-group">
          <label for="txtSubject">{{resource.default.document_subject}}</label>
          <input type="text" id="txtSubject" class="form-control" formControlName="subject" placeholder="{{resource.default.document_subject_placeholder}}">
        </div>
        <div class="form-group dpDayPicker">
          <label for="txtDateOfRelease">{{resource.default.document_dateOfRelease}}</label>
          <input [dpDayPicker]="config" theme="dp-material" type="text" id="txtDateOfRelease" class="form-control" formControlName="dateOfRelease" placeholder="{{resource.default.document_dateOfRelease_placeholder}}">
        </div>
        <div class="form-group dpDayPicker">
          <label for="txtDateOfCreate">{{resource.default.document_dateOfCreate}}</label>
          <input [dpDayPicker]="config" theme="dp-material" type="text" id="txtDateOfCreate" class="form-control" formControlName="dateOfCreate" placeholder="{{resource.default.document_dateOfCreate_placeholder}}">
        </div>
        <div class="form-group">
          <label for="txtCreator">{{resource.default.document_creator}}</label>
          <input type="text" id="txtCreator" class="form-control" formControlName="subject" placeholder="{{resource.default.document_creator_placeholder}}">
        </div>
        <div class="form-group">
          <label for="txtIssuer">{{resource.default.document_issuer}}</label>
          <select id="txtIssuer" class="form-control" formControlName="issuerId">
            <option [ngValue]="null" disabled>{{resource.default.document_issuer_placeholder}}</option>
            <option *ngFor="let r of issuerList" [value]="r.id">
              {{r.title}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="txtDomainId">{{resource.default.document_domain}}</label>
          <select id="txtDomainId" class="form-control" formControlName="domainId">
            <option [ngValue]="null" disabled>{{resource.default.document_domain_placeholder}}</option>
            <option *ngFor="let r of domainList" [value]="r.id">
              {{r.title}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="txtTypeId">{{resource.default.document_type}}</label>
          <select id="txtTypeId" class="form-control" formControlName="typeId">
            <option [ngValue]="null" disabled>{{resource.default.document_type_placeholder}}</option>
            <option *ngFor="let r of typeList" [value]="r.id">
              {{r.title}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="file">{{resource.default.document_file}}</label>
          <input type="file" id="file" class="form-control-file" (change)="handleFileInput($event.target.files)" />
        </div>
        <!-- Save in button -->
        <button class="btn btn-info btn-block my-4" type="submit">{{resource.default.save}}</button>

      </form>
    </section>

  </div>
</div>
