<div class="row">
  <div class="col-auto m-4">
    <div class="btn-toolbar mb-1" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary btn-toollbar" (click)="select()"><i class="fa fa-check-square"></i> {{resource.default.select}}</button>
        <div ngbDropdown class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary btn-toollbar" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <i class="fa fa-remove"></i>{{resource.default.delete}}
          </button>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="width:150px">
            <button class="dropdown-item btn-toollbar" (click)="deleteByIds()">{{resource.default.delete_selected}}</button>
            <button class="dropdown-item btn-toollbar" (click)="deleteByFilter()">{{resource.default.delete_all}}</button>
          </div>
        </div>
        <button type="button" class="btn btn-secondary btn-toollbar"><i class="fa fa-table"></i> {{resource.default.excel}}</button>
      </div>
    </div>
    <ag-grid-angular style="width: 550px; height: 350px;"
      enableRtl="true"
      class="ag-theme-balham"
      suppressSizeToFit="true"
      [rowData]="rowData"
      [defaultColDef]="defaultColDef"
      [columnDefs]="columnDefs"
      [rowSelection]="rowSelection"
      [gridOptions]="gridOptions"
      [pagination]="true"
      [paginationAutoPageSize]="true"
      [stopEditingWhenGridLosesFocus]="true"
      [modules]="modules"
      (selectionChanged)="onSelectionChanged($event)"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div class="col-auto">
    <section class="m-4">
      <form class="text-left border border-light p-5" (ngSubmit)="saveForm()" [formGroup]="form">

        <p class="h4 mb-4">{{resource.default.document_form_title}}</p>

        <input type="text" id="txtNo" class="form-control mb-4" formControlName="no" placeholder="{{resource.default.document_no}}">
        <input type="text" id="txtSubject" class="form-control mb-4" formControlName="subject" placeholder="{{resource.default.document_subject}}">
        <input type="text" id="txtDateOfRelease" class="form-control mb-4" formControlName="dateOfRelease" placeholder="{{resource.default.document_dateOfRelease}}">
        <input type="text" id="txtDateOfCreate" class="form-control mb-4" formControlName="dateOfCreate" placeholder="{{resource.default.document_dateOfCreate}}">
        <input type="text" id="txtCreator" class="form-control mb-4" formControlName="creator" placeholder="{{resource.default.document_creator}}">
        <select class="form-control mb-4" formControlName="issuerId">
          <option [ngValue]="null" disabled>{{resource.default.document_issuer}}</option>
          <option *ngFor="let r of issuerList" [value]="r.id">
            {{r.title}}
          </option>
        </select>
        <select class="form-control mb-4" formControlName="domainId">
          <option [ngValue]="null" disabled>{{resource.default.document_domain}}</option>
          <option *ngFor="let r of domainList" [value]="r.id">
            {{r.title}}
          </option>
        </select>
        <select class="form-control mb-4" formControlName="typeId">
          <option [ngValue]="null" disabled>{{resource.default.document_type}}</option>
          <option *ngFor="let r of typeList" [value]="r.id">
            {{r.title}}
          </option>
        </select>
        <!-- Save in button -->
        <button class="btn btn-info btn-block my-4" type="submit">{{resource.default.save}}</button>

      </form>
    </section>

  </div>
</div>
