<div dir="rtl">
  <div *ngIf="pageMode=='list'">
    <div class="jumbotron pt-2 pb-2">
      <h2>{{resource.default.document_module_title}}</h2>
      <p>{{resource.default.document_module_description}}</p>
    </div>

    <div class="m-4">
      <div class="row">
        <div class="col">
          <ag-grid-angular class="ag-theme-balham grid-list"
                           enableRtl="true"
                           suppressSizeToFit="true"
                           [rowData]="rowData"
                           [defaultColDef]="defaultColDef"
                           [columnDefs]="columnDefs"
                           [rowSelection]="rowSelection"
                           [gridOptions]="gridOptions"
                           [pagination]="true"
                           [paginationAutoPageSize]="true"
                           [stopEditingWhenGridLosesFocus]="true"
                           [modules]="modules"
                           (gridReady)="onGridReady($event)"
                           (selectionChanged)="onSelectionChanged($event)">
          </ag-grid-angular>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <button type="button" class="btn btn-sm mr-2 btn-primary" (click)="add()"><i class="fa fa-plus"></i> {{resource.default.add}}</button>
            <button type="button" class="btn btn-sm mr-2 btn-secondary" (click)="exportToExcel()"><i class="fa fa-table"></i> {{resource.default.excel}}</button>
          </div>
        </div>
        <div class="readonly-panel float-right" *ngIf="selectedObject != null">
          <div class="readonly-panel">
            <p>
              {{selectedObject.subject}}
            </p>
            <p>
              {{resource.default.document_no}}: {{selectedObject.no}}
            </p>
            <p>
              {{resource.default.document_creator}}: {{selectedObject.creator}}
            </p>
            <p>
              {{resource.default.document_dateOfRelease}}: {{selectedObject.dateOfRelease}}
            </p>
            <p>
              {{resource.default.document_dateOfCreate}}: {{selectedObject.dateOfCreate}}
            </p>
            <p>
              {{resource.default.document_issuer}}: {{selectedObject.issuerTitle}}
            </p>
            <p>
              {{resource.default.document_domain}}: {{selectedObject.domainTitle}}
            </p>
            <p>
              {{resource.default.document_type}}: {{selectedObject.typeTitle}}
            </p>
          </div>         
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <button type="button" class="btn btn-sm mr-2 btn-primary" (click)="edit()"><i class="fa fa-edit"></i> {{resource.default.edit}}</button>
            <button type="button" class="btn btn-sm mr-2 btn-secondary" (click)="delete()"><i class="fa fa-remove"></i> {{resource.default.delete}}</button>
          </div>
        </div>
        <div class="image-slider" *ngIf="selectedObject != null">
          <div class="image-panel">
            <div class="image-list">
              <div *ngFor="let id of selectedObject.documetFileIds">
                <img [src]="getImageUrl(id)" class="img-thumbnail" />
                <button class="image-btn remove-btn" (click)="deleteImage(id)"><i class="fa fa-remove"></i></button>
                <button class="image-btn show-btn" (click)="showImage(id)"><i class="fa fa-picture-o"></i></button>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-sm mr-2 btn-secondary" type="button" (click)="fileInput.click()">
              <i class="fa fa-upload"></i> {{resource.default.document_file}}
              <input #fileInput type="file" (change)="handleFileInput($event.target.files)" style="display:none;" />
            </button>
          </div>          
        </div>
      </div>            
    </div>
  </div>
  <div *ngIf="pageMode=='form'">
    <div class="jumbotron pt-2 pb-2">
      <h2>{{resource.default.document_module_title}}</h2>
      <p>{{resource.default.document_subject}}: <span>{{form.value.subject}}</span> - {{resource.default.document_id}}: <span>{{form.value.id}}</span></p>
    </div>
    <section>
      <form class="text-left border border-light m-2 p-2" (ngSubmit)="save()" [formGroup]="form">
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label for="txtNo">{{resource.default.document_no}}</label>
              <input type="text" id="txtNo" class="form-control" formControlName="no" placeholder="{{resource.default.document_no_placeholder}}">
            </div>
          </div>
          <div class="col-9">
            <div class="form-group">
              <label for="txtSubject">{{resource.default.document_subject}}</label>
              <input type="text" id="txtSubject" class="form-control" formControlName="subject" placeholder="{{resource.default.document_subject_placeholder}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group dpDayPicker">
              <label for="txtDateOfRelease">{{resource.default.document_dateOfRelease}}</label>
              <input [dpDayPicker]="config" theme="dp-material" type="text" id="txtDateOfRelease" class="form-control" formControlName="dateOfRelease" placeholder="{{resource.default.document_dateOfRelease_placeholder}}">
            </div>
          </div>
          <div class="col">
            <div class="form-group dpDayPicker">
              <label for="txtDateOfCreate">{{resource.default.document_dateOfCreate}}</label>
              <input [dpDayPicker]="config" theme="dp-material" type="text" id="txtDateOfCreate" class="form-control" formControlName="dateOfCreate" placeholder="{{resource.default.document_dateOfCreate_placeholder}}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="txtCreator">{{resource.default.document_creator}}</label>
              <input type="text" id="txtCreator" class="form-control" formControlName="creator" placeholder="{{resource.default.document_creator_placeholder}}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="txtIssuer">{{resource.default.document_issuer}}</label>
              <select id="txtIssuer" class="form-control" formControlName="issuerId">
                <option [ngValue]="null" disabled>{{resource.default.document_issuer_placeholder}}</option>
                <option *ngFor="let r of issuerList" [value]="r.id">
                  {{r.title}}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="txtDomainId">{{resource.default.document_domain}}</label>
              <select id="txtDomainId" class="form-control" formControlName="domainId">
                <option [ngValue]="null" disabled>{{resource.default.document_domain_placeholder}}</option>
                <option *ngFor="let r of domainList" [value]="r.id">
                  {{r.title}}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="txtTypeId">{{resource.default.document_type}}</label>
              <select id="txtTypeId" class="form-control" formControlName="typeId">
                <option [ngValue]="null" disabled>{{resource.default.document_type_placeholder}}</option>
                <option *ngFor="let r of typeList" [value]="r.id">
                  {{r.title}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="file">{{resource.default.document_text}}</label>
              <textarea class="form-control" rows="6" placeholder="{{resource.default.document_text_placeholder}}"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <button class="btn btn-sm mr-2 btn-success" type="submit">{{resource.default.save}}</button>
              <button class="btn btn-sm mr-2 btn-secondary" (click)="cancel()">{{resource.default.return}}</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
  <div *ngIf="selectedImageUrl != null" class="image-viewer-back"></div>
  <div *ngIf="selectedImageUrl != null" class="image-viewer">
    <button class="image-btn remove-btn" (click)="selectedImageUrl = null"><i class="fa fa-remove"></i></button>
    <div><img [src]="selectedImageUrl" /></div>
  </div>  
</div>

