.dpDayPicker {
    margin-bottom: 0;
}

section, section input, section select, section textarea {
  font-size: 0.8rem;
}

.image-slider {
  width: 270px;
}

.image-panel {
  width: 240px;
  border: 1px solid #dee2e6 !important;
}


.image-list {
  height: 470px;
  overflow-y: scroll;
  display: block;
  border: 0px;
  margin: auto;
  width: 100%;
}

  .image-list div {
      margin: 10px;
  }

.img-thumbnail {
  max-width: 150px;
  max-height: 150px;
}
