<div class="row">
  <div class="col-auto m-4">
    <ag-grid-angular style="width: 250px; height: 300px;"
                     class="ag-theme-balham"
                     suppressSizeToFit = "true"
                     [rowData]="rowData"
                     [columnDefs]="columnDefs"
                     [rowSelection]="rowSelection"
                     (selectionChanged)="onSelectionChanged($event)"
                     (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <div class="col-auto">
    <section class="m-4">
      <!-- Default form register -->
      <form class="text-center border border-light p-5" (ngSubmit)="Save()" [formGroup]="form">

        <p class="h4 mb-4">{{resource.default.role_title}}</p>

        <!-- Username -->
        <input type="text" id="defaultLoginFormName" class="form-control mb-4" formControlName="name" placeholder="{{resource.default.role_title}}">
        
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">{{resource.default.save}}</button>

      </form>
      <!-- Default form register -->
    </section>

  </div>
</div>
